@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #29eee8;
    --middle-color: #8585e6;
    --secondary-color: #af56e7;
  }

  @font-face {
    font-family: 'Albra Black';
    src: url('/public/fonts/AlbraBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {
  * {
    cursor: none;
  }

  *:hover,
  *:focus,
  *:active {
    cursor: none;
  }
}
